.esm-button
  +font-link
  background-color: $color-pinkchalk
  color: $color-blackboard
  padding-top: 15px
  padding-bottom: 15px
  padding-left: 30px
  padding-right: 30px
  text-transform: uppercase
  letter-spacing: 1px
  &:hover
    +esm-hover
