.esm-header
  $size-menu: 64px
  $size-header: $space-header
  padding-top: calc( ( #{$size-header} - #{$size-menu} ) / 2 )
  padding-bottom: calc( ( #{$size-header} - #{$size-menu} ) / 2 )
  +container-width
  background-color: $color-blackboard
  color: #fff
  display: flex
  transition: all 0.3s ease
  top: 0
  left: 0
  right: 0
  position: fixed
  z-index: 88

  &.-home
    background-color: transparent
    color: $color-blackboard
    position: absolute
    > .title
      display: none

  &.-hidden
    top: -$size-header

  &.-smaller
    $size-header: 80px
    padding-top: calc( ( #{$size-header} - #{$size-menu} ) / 2 )
    padding-bottom: calc( ( #{$size-header} - #{$size-menu} ) / 2 )
    background-color: $color-blackboard

  > .navigation
    +container-width
    color: #fff
    opacity: 0
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: $color-blackboard
    transition: 0.3s ease
    z-index: 97
    pointer-events: none
    display: flex
    justify-content: space-between
    align-items: flex-start
    > img
      margin-top: 50px
    > ul
      margin-top: 180px
      > li
        font-family: $font-family-heading
        text-transform: uppercase
        opacity: 0
        transform: translateX(-50%)
        +media-mediumup
          font-size: 30px
          line-height: 40px
          &:not(:first-child)
            margin-top: 20px
        +media-mediumdown
          font-size: 22.5px
          line-height: 30px
          &:not(:first-child)
            margin-top: 15px
        +media-smallonly
          font-size: 15px
          line-height: 20px
          &:not(:first-child)
            margin-top: 10px

  &.-open > .navigation
    pointer-events: auto
    opacity: 1
    > ul > li
      opacity: 1
      transform: translateX(0)
      @for $i from 1 through 99
        &:nth-child(#{$i})
          transition: all 0.4s #{$i * 0.05}s ease

  > .title
    +title-small
    flex-grow: 1
    text-align: center
    padding-right: calc( #{$size-menu} - (#{$size-menu} / 4) )
    +media-mediumup
      font-size: 30px

  > .menu
    width: $size-menu
    height: $size-menu
    position: relative
    z-index: 99
    cursor: pointer
    font-size: $size-menu/2
    margin-left: -$size-menu/4

    &:hover
      +esm-hover

    &:before,
    &:after
      content: ''
      width: 1em
      height: 0.125em
      background-color: currentColor
      display: block
      position: absolute
      transition: all 0.2s linear
    &:before
      top: 0.625em
      left: 0.5em
      box-shadow: 0 0.3125em 0 0 currentColor
    &:after
      top: 1.25em
      left: 0.5em

    &.--x
      color: #fff
      &:before,
      &:after
        top: 0.9375em
        left: 0.5em
      &:before
        transform: rotate(45deg)
        box-shadow: 0 0 0 0 transparent
      &:after
        transform: rotate(-45deg)
