.esm-footer
  +container-width
  background-color: $color-blackboard
  color: #fff
  text-align: center
  padding-top: 140px
  padding-bottom: 140px
  display: flex
  flex-direction: row
  justify-content: space-between
  border-top: 2px solid #fff
  > .right
    text-align: right
    > .medias
      margin-top: 40px
