.section-case
  border-top: 1px solid $color-blackboard
  > .case
    display: flex
    > .img
      margin-left: 80px
      min-width: 400px
      display: block
      background-color: red
      height: 400px
    > .text
      > .intro
        color: rgba($color-blackboard, 0.7)
        font-family: $font-family-body-serif
        font-style: italic
        font-size: 28px
        line-height: 40px
        margin-top: 40px
      p
        color: rgba($color-blackboard, 0.7)
        margin-top: 20px
  > .protect
    border-top: 1px solid $color-blackboard
    padding-top: 70px
    margin-top: 70px
    display: flex
    > .title
      min-width: 360px
      margin-right: 40px
    > .content > p:not(:first-child)
      margin-top: 20px
