.section-news
  background-color: mix($color-bluechalk, #fff)

  &.-dark
    background-color: $color-blackboard

  > .title
    text-align: center
    margin-bottom: 40px
    text-transform: uppercase

  > .link
    +font-link
    margin-top: 40px
    text-align: center
    display: block
    margin-left: auto
    margin-right: auto
