.section-hero
  background-color: $color-pinkchalk
  color: $color-blackboard

  > .board
    background-color: $color-blackboard
    color: #fff
    > .title
      line-height: 24px
      font-size: 22px
      text-transform: uppercase
      box-shadow: 4px 4px 0 0 rgba($color-blackboard, 0.5)
      +media-mediumup
        line-height: 50px
        font-size: 46px
        box-shadow: 8px 8px 0 0 rgba($color-blackboard, 0.5)
