.section-postlist
  width: 100%
  margin-right: 0
  +media-mediumup
    width: calc(75% - 20px)
    margin-right: 80px
  .list
    > #ajaxContainer
      +grid-container
      .post
        +grid(12)
        +media-mediumup
          +grid(6)
        margin-bottom: 60px
        .thumb
          +checkboard-background($color-bluechalk)
          width: 100%
          position: relative
          margin-bottom: 10px
          overflow: hidden
          > figure
            width: 100%
            padding-top: 50%
            > img
              width: 100%
              top: 0
              left: 0
              height: 100%
              width: 100%
              position: absolute
              object-fit: cover
        .tag
          +font-link
          position: absolute
          bottom: 0
          left: 0
          padding: 10px
          display: block
          width: 100%
          background-color: rgba($color-blackboard, 0.8)
          color: $color-bluechalk
        .title
          +h6
