.section-hero
  background-color: rgba($color-pinkchalk, 0.5)
  padding-left: calc( (100vw - 240px) / 2 )
  padding-right: calc( (100vw - 240px) / 2 )
  +media-mediumup
    padding-left: calc( (100vw - 480px) / 2 )
    padding-right: calc( (100vw - 480px) / 2 )

  > .board
    background-color: $color-blackboard
    color: #fff
    padding: 20px
    box-shadow: 4px 4px 0 0 rgba($color-blackboard, 0.5)
    +media-mediumup
      padding: 42px
      box-shadow: 8px 8px 0 0 rgba($color-blackboard, 0.5)
    > .title
      line-height: 24px
      font-size: 22px
      text-transform: uppercase
      +media-mediumup
        line-height: 50px
        font-size: 46px
      > .-strike
        position: relative
        &::after
          content: ''
          z-index: 2
          position: absolute
          height: 15px
          left: -10px
          right: -10px
          top: 50%
          transform: translateY(-50%)
          background-color: rgba($color-pinkchalk, 0.5)

  > p
    text-align: center
    margin-top: 60px

  > .link
    +font-link
    margin-top: 30px
    display: block
    text-align: center
