.section-board
  +section-board
  > .board
    > .title
      text-transform: uppercase
      @at-root
        .section-board.-yellow > .board > .title
          color: $color-yellowchalk
      @at-root
        .section-board.-pink > .board > .title
          color: $color-pinkchalk
