=checkboard-background($color)
  background-color: transparent
  background-image: linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color), linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color)
  background-size: 2px 2px
  background-position: 0 0, 1px 1px

=container-width
  padding-left: $space-centi
  padding-right: $space-centi
  +media-mediumup
    padding-left: calc(#{$space-base} + 1vw)
    padding-right: calc(#{$space-base} + 1vw)
  +media-largeup
    padding-left: calc(#{$space-deca} + 4vw)
    padding-right: calc(#{$space-deca} + 4vw)
  +media-hugeup
    padding-left: calc((100vw - 72rem) / 2)
    padding-right: calc((100vw - 72rem) / 2)

=align-center
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=typography-sizes($fs: $font-size-base, $lh: $line-height-base, $fs-mu: $fs, $lh-mu: $lh)
  font-size: $fs
  line-height: $lh
  +media-mediumup
    font-size: $fs-mu
    line-height: $lh-mu

=placeholder
  &::placeholder
    @content

=esm-hover
  opacity: 0.9
  transition: all 0.3s ease
  transform: scale(1.125)
